In [106]:
from sklearn import tree
import numpy as np
import pandas as pd


train_col_name = ['userID', 'movieID', 'rating'] #1
test_col_name=['userID', 'movieID']

traindf = pd.read_csv('train.dat', sep=' ',skiprows=1,names=train_col_name)
testdf=pd.read_csv('test.dat', sep=' ',skiprows=1, names=test_col_name)

traindf.head()

   userID  movieID  rating
0      75        3     1.0
1      75       32     4.5
2      75      110     4.0
3      75      163     4.0
4      75      165     4.5

In [107]:
features = traindf.drop('rating',axis=1)
# features.head()

In [108]:
labels = traindf.drop('userID',axis=1)
labels = labels.drop('movieID',axis=1)

labels = labels.astype('str')
labels.head()

  rating
0    1.0
1    4.5
2    4.0
3    4.0
4    4.5

In [109]:
X_train = features
y_train = labels
# X_test = tests

clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)


# clf.feature_importances_ # [ 1.,  0.,  0.]
# clf.score(X=X_test, y=y_test) # 1.0

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [110]:
pred_DT = clf.predict(testdf)
np.savetxt("format.dat", pred_DT,fmt='%s', delimiter="\n")